[user]
	name = Manfred Reysser
	email = <user>@<domain>.<tld>
[core]
	editor = nano
[diff]
  tool = meld
[difftool]
  prompt = false
[difftool "meld"]
  trustExitCode = true
  cmd = /opt/homebrew/bin/meld $LOCAL $REMOTE
[merge]
  tool = meld
[mergetool]
  prompt = false
[mergetool "meld"]
  trustExitCode = true
  cmd = /opt/homebrew/bin/meld --auto-merge $LOCAL $MERGED $REMOTE --output=$MERGED
